.link {
  @include link();
  display: block;
}

.link--icon {
  &:hover {
    .main-navigation__icon {
      fill: color($main-c, primary);
    }
  }

  &:active {
    .main-navigation__icon {
      fill: rgba(color($main-c, primary), 0.3);
    }
  }
}

.link--search {

}

.link--cart {
  @media (min-width: breakpoint(tablet)) {
    padding-left: 52px;
  }
}
.link.link--mail {

}

.link__text {

}
