.main-logo {
  @include centerer(null, null, both);
  padding-bottom: 1px;
  padding-right: 2px;
  display: block;
  pointer-events: none;

  &:focus, &:hover {
    .main-logo__svg {
      fill: rgba(color($base-c, black), 0.6);
    }
  }

  &:active {
    .main-logo__svg {
      fill: rgba(color($base-c, black), 0.3);
    }
  }

  @media (min-width: breakpoint(tablet)) and (max-width: breakpoint(tablet-top)) {
    position: static;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    padding-top: 11px;
    padding-right: 2px;
  }

  @media (min-width: breakpoint(desktop)) {
    @include centerer(null, null, both);
  }
}

.main-logo__svg {
  fill: color($base-c, black);
  display: none;

  @media (min-width: breakpoint(desktop)) {
    display: block;
  }
}

.main-logo__svg--mobile {
  display: block;

  @media (min-width: breakpoint(tablet)) {
    display: none;
  }
}

.main-logo__svg--tablet {
  display: none;

  @media (min-width: breakpoint(tablet)) and (max-width: breakpoint(tablet-top)) {
    display: block;
  }
}
