.main-logo {
  @include centerer(null, null, both);
  padding-bottom: 1px;
  padding-right: 2px;
  display: block;

  &::after {
    @include pseudo-ie11-fix();
  }

  @media (min-width: breakpoint(tablet)) and (max-width: breakpoint(tablet-top)) {
    position: static;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    padding-top: 0;
    padding-right: 2px;
  }

  @media (min-width: breakpoint(desktop)) {
    @include centerer(null, null, both);
  }
}

.main-logo:focus, .main-logo:hover {
  .main-logo__svg {
    color: rgba(color($base-c, black), 0.6);
    fill: rgba(color($base-c, black), 0.6);
  }
}

.main-logo:active {
  .main-logo__svg {
    color: rgba(color($base-c, black), 0.3);
    fill: rgba(color($base-c, black), 0.3);
  }
}

.main-logo__svg {
  color: color($base-c, black);
  fill: color($base-c, black);
  display: none;

  g[data-name="Layer 1"] {
    color: #ffffff;
    fill: #ffffff;
  }

  @media (min-width: breakpoint(desktop)) {
    display: block;
  }
}

.main-logo__svg--mobile {
  display: block;

  @media (min-width: breakpoint(tablet)) {
    display: none;
  }
}

.main-logo__svg--tablet {
  display: none;

  @media (min-width: breakpoint(tablet)) and (max-width: breakpoint(tablet-top)) {
    display: block;
  }
}
