* {
  box-sizing: border-box;
}

svg path {
  fill: inherit;
  stroke: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.main-page {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}
.link {
  color: #000000;
  text-decoration: none;
  font-size: 20px;
}

.container {
  max-width: 1150px;

  min-width: 320px;
  margin: 0 auto;
  padding: 0 30px;
}

.main-header {
  margin: 0;
  padding: 0;
  background-color: transparent;

  &__top {
    background-color: #fff;
    min-height: 79px;
  }

  &__bottom {
    background-color: transparent;
    min-height: 79px;
  }
}

.main-navigation {
  &__list {
    list-style: none;
  }
}

.button {
  color: #444444;
  display: block;
  padding: 31px 0 31px 0;
  text-decoration: none;
  border: 2px solid #444444;
  cursor: pointer;

  &--primary {
    background-color: #63d1bb;
    border: 0;
    color: #ffffff;
  }
}

.promo-things {
  background-color: #f1f1f1;
  min-height: 177px;
  &__button-wrapper {
    flex: 0 0 100%;
  }
}

.social-link {
  &__svg {

  }
}

.svg-image {
  display: block;
  height: 100%;
  margin: 0 auto;
}

.main-logo {

  &__svg {
    @media (min-width: 321px) {
      display: none;
    }
    &--mobile {
      @media (min-width: 321px) {
        display: block;
      }
    }
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.75);
}

.size-form__inner {
  display: flex;
}

.modal-cart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 30px;
}

.checkbox {
  padding: 20px 0 0 0;
}

.form-group__inner {
  display: flex;
  flex-direction: column;
}

.form-group__checkbox {
  margin: 0 0 30px 0;
}

.checkbox__label {
  cursor: pointer;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border: 2px solid #000000;
  }

  &::after {
    content: "";
    display: none;
    position: absolute;
    top: 50%;
    left: 0;
    margin-left: 6px;
    margin-top: -4px;
    width: 32px;
    height: 22px;
    background-image: url("../img/svg/checkbox-mark-icon.svg");
    background-repeat: no-repeat;
  }

  &--mark {
    padding-left: 60px;
    font-size: 17px;
    padding-top: 11px;
  }
}

.checkbox__control--mark:checked {
  ~ .checkbox__control--mark::after {
    display: block;
  }
}

.form-list__item {
  min-height: 150px;
  background-color: #fff;

  @media (min-width: 321px) {
    &:nth-child(2n) {
      background-color: #f1f1f1;
    }
  }
}

.order-form__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form-group {
  min-height: 156px;
}

.radio {
  padding: 20px 0 0 0;
}

.form-group__radio {
  margin: 0 0 30px 0;
}

.radio__label {
  cursor: pointer;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border: 2px solid #000000;
    border-radius: 50%;
  }

  &::after {
    content: "";
    display: none;
    position: absolute;
    top: 50%;
    left: 0;
    margin-left: 14px;
    margin-top: -1px;
    width: 16px;
    height: 16px;
    background-color: #63d1bb;
    border-radius: 50%;
  }

  &--dot {
    padding-left: 60px;
    font-size: 17px;
    padding-top: 11px;
  }
}

.radio__control:checked {
  ~ .radio__label::after {
    display: block;
  }
}

.input {
  padding: 20px 0 0 0;
}

.input__control {
  border: 0;
  border-bottom: 2px solid #000000;
}

.form-group__input {
  margin: 0 0 30px 0;
}

.input__wrap {
  position: relative;
}

.input__control {
  width: 100%;
}

.input__control--icon {
  font-size: 17px;
  padding-top: 11px;
  padding-right: 30px;
}

.input__icon {
  width: 25px;
  height: 24px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
}

.textarea__control {
  width: 100%;
  border: 2px solid #000000;
  resize: vertical;
  min-height: 142px;
}

.main-footer {
  background-color: #f1f1f1;
}

.main-footer__logo {
  display: none;

  @media (min-width: 321px) {
    display: block;
  }

}
