.htmlacademy-logo {
  margin: 5px -6px 0 0;
  padding: 0;
  fill: color($main-c, primary);

  &:active {
    color: rgba(color($base-c, black), 0.3);
  }

  @media (min-width: breakpoint(tablet)) {
    margin-top: 6px;
    margin-right: -8px;
  }

  @media (min-width: breakpoint(desktop)) {
    margin-top: 6px;
    margin-right: -8px;
  }
}

.htmlacademy-logo:focus, .htmlacademy-logo:hover {
  .htmlacademy-logo__svg {
    fill: color($main-c, accent);
  }
}

.htmlacademy-logo:active {
  .htmlacademy-logo__svg {
    fill: rgba(color($main-c, accent), 0.3);
  }
}
