.product-card {
  margin: 0;
  padding: 0;

  &:focus, &:hover {
   @include box-shadow(0, 6px, 10px, 0, rgba(color($base-c, black), 0.1), false);
  }

  &:active {
    @include box-shadow(0, 3px, 5px, 0, rgba(color($base-c, black), 0.1), false);
  }
}

.product-card__inner {
  width: auto;
  display: flex;
  flex-direction: column;

  @media (min-width: breakpoint(tablet)) {
    position: relative;
    width: auto;
    flex-direction: row;
  }

  @media (min-width: breakpoint(desktop)) {
    width: auto;
    flex-direction: column;
    height: 100%;
  }
}

.product-card__image-wrapper {
  margin: 0;
  overflow: hidden;
  height: 0;
  width: 100%;
  padding-bottom: (195px/260px)*100%;
  background-color: #cacecd;

  @media (min-width: breakpoint(tablet)) {
    flex-basis: auto;
    width: 50%;
    margin: 0;
    min-height: 334px;
    height: auto;
    padding-bottom: 0;
    flex-shrink: 0;
    background-color: #cacecd;
    overflow: visible;
  }

  @media (min-width: breakpoint(desktop)) {
    flex-basis: auto;
    width: 100%;
    margin: 0;
    max-height: 462px;
    max-width: 316px;
    height: auto;
    padding-bottom: 0;
    flex-shrink: 0;
    background-color: #cacecd;
    overflow: visible;
  }
}

.product-card__image {
  display: block;
  width: 100%;
  height: auto;
  background-color: #cacecd;

  @media (min-width: breakpoint(desktop)) {
    max-width: 316px;
  }
}

.product-card__top {
  margin-bottom: 41px;
  position: relative;

  @media (min-width: breakpoint(desktop)) {
    margin-bottom: 36px;
  }
}

.product-card__description {
  margin: 0;
  padding: 27px 28px 28px 28px;
  @include box-shadow(0, 0, 0, 1px, color($grey-c, dark), true);

  @media (min-width: breakpoint(tablet)) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 335px;
    flex-basis: auto;
    width: 50%;
    padding-top: 26px;
  }

  @media (min-width: breakpoint(desktop)) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 316px;
    max-width: 316px;
    flex-basis: auto;
    width: 100%;
    padding: 26px 20px 28px 28px;
    height: 100%;
  }
}

.product-card__title {
  margin: 0 0 5px 0;
  padding: 0;
  @include font-par(font-family(opensans), font-weight(bold), font-size(base-t), normal, color($base-c, black), font-lh(base-md));

  @media (min-width: breakpoint(tablet)) {
    font-size: font-size(other-l);
    width: 86%;
  }
}

.product-card__text {
  margin: 0;
  padding: 0;
  @include font-par(font-family(opensans), font-weight(regular), 13px, normal, color($base-c, black), font-lh(base-l));

  @media (min-width: breakpoint(tablet)) {
    font-size: font-size(base-m);
  }

  @media (min-width: breakpoint(desktop)) {
    margin-top: 0;
  }
}

.product-card__bottom {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;

  &::after {
    position: absolute;
    top: -22px;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background-color: color($grey-c, dark);
  }

  @media (min-width: breakpoint(tablet)) {
    padding-left: 4px;
    padding-right: 6px;
    margin-bottom: -1px;
  }

  @media (min-width: breakpoint(desktop)) {
    padding-right: 13px;
    padding-left: 0;
  }
}

.product-card__bottom::after {
  @media (min-width: breakpoint(tablet)) {
    position: absolute;
    top: -23px;
    left: 4px;
    content: "";
    width: 96%;
    height: 1px;
    background-color: color($grey-c, dark);
  }

  @media (min-width: breakpoint(desktop)) {
    position: absolute;
    top: -23px;
    left: -1px;
    content: "";
    width: 95%;
    height: 1px;
    background-color: color($grey-c, dark);
  }
}

.product-card__link {
  width: 21px;
  height: 21px;
  margin-left: auto;
}

.product-card__price {
  margin: 0;
  padding: 0;
  @include font-par(font-family(opensans), font-weight(bold), font-size(base-m), normal, color($base-c, black), font-lh(base-md));

  @media (min-width: breakpoint(tablet)) {
    font-size: font-size(base-t);
  }

  @media (min-width: breakpoint(desktop)) {
    letter-spacing: 0;
    margin-top: 1px;
  }
}

.product-card__icon {
  margin-left: 2px;
  margin-top: 1px;
  fill: #d3d2d2;
  color: #d3d2d2;
}
