.input {
  background-color: darkred;
}

.input.input--type--text {
  color: #0e84b5;
  font-size: 20px;
}

.input.input--type--number {

}

.input .input__label {

}

.input .input__control {

}

.input .input__control.input__control--icon {

}

.input .input__wrap {

}

.input .input__icon {

}
