.main-navigation {
  position: relative;
  width: 100%;
  display: flex;
  background-color: transparent;
  flex-direction: column;
  flex-wrap: wrap;
  z-index: 1;

  @media (min-width: breakpoint(tablet)) {
    flex-direction: row;
    margin: 0 auto;
    padding: 0 49px;
    max-height: 89px;
  }

  @media (min-width: breakpoint(desktop)) {
    flex-direction: row;
    margin: 0 auto;
    padding: 0 49px;
    max-height: 89px;
    max-width: 1150px;
  }
}

.main-navigation__list {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  flex-basis: auto;
  flex-shrink: 0;
  @include clear-list();
  @include font-par(font-family(opensans), font-weight(regular), font-size(base-m), normal, color($main-c, secondary), font-lh(base-md));

  @media (min-width: breakpoint(tablet)) {
    flex-direction: row;
  }
}

.main-navigation__list--first {
  @media (min-width: breakpoint(tablet)) {
    order: -1;
    justify-content: flex-end;
    flex-basis: 100%;

    .main-navigation__item {
      @include box-shadow(1px, 0, 0, 0, color($grey-c, darker), true);
      padding: 31px 0 34px 33px;
    }
  }

  @media (min-width: breakpoint(desktop)) {
    order: 0;
    flex-basis: auto;
    margin-right: 2px;
  }
}

.main-navigation__list--second {
  @media (min-width: breakpoint(tablet)) {
    .main-navigation__link {
      font-size: font-size(base-m);
    }
  }

  @media (min-width: breakpoint(desktop)) {
    .main-navigation__link {
      font-size: font-size(base-t);
    }

    .main-navigation__item {
      padding: 31px 36px 34px 0;
    }

    .main-navigation__item:not(:first-child) {
      min-width: 83px;
      padding-left: 36px;
      @include box-shadow(1px, 0, 0, 0, color($grey-c, darker), true);
    }
  }
}

.main-navigation__list--third {
  @include visually-hidden();

  @media (min-width: breakpoint(desktop)) {
    position: static;
    text-align: right;
    margin: 0;
    width: auto;
    height: auto;
    white-space: pre-line;
    clip: auto;
    clip-path: none;
    letter-spacing: 0.3px;

    .main-navigation__link {
      font-size: font-size(base-m);
    }
  }
}

.main-navigation__item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 75px;
  background-color: transparent;
  padding-top: 26px;
  padding-bottom: 29px;
  @include box-shadow(0, -1px, 0, 0, color($grey-c, darker), true);

  @media (min-width: breakpoint(tablet)) {
    min-width: 83px;
    box-shadow: none;
    padding: 17px 37px 25px 0;
  }

  @media (min-width: breakpoint(desktop)) {
    padding-right: 56px;
  }
}

.main-navigation__link {
  position: relative;
  @include font-par(font-family(opensans), font-weight(bold), font-size(base-t), normal, color($base-c, black), font-lh(base-md));
}

.main-navigation__text {
  @include visually-hidden();

  @media (min-width: breakpoint(tablet)) {
    @include font-par(font-family(opensans), font-weight(regular), font-size(base-m), normal, color($main-c, secondary), font-lh(base-md));
    position: static;
    text-align: right;
    padding: 17px 0 25px 0;
    margin: 0;
    margin-left: auto;
    width: auto;
    height: auto;
    white-space: pre-line;
    clip: auto;
    clip-path: none;
  }

  @media (min-width: breakpoint(desktop)) {
    margin: 0 1px 0 0;
  }
}

.main-navigation__icon {
  position: absolute;
  top: 5px;
  left: -43px;
  fill: #d3d2d2;

  @media (min-width: breakpoint(tablet)) {
    top: 4px;
    left: 0;
  }
}

.main-navigation__icon--cart {
  top: 4px;
  left: -44px;

  @media (min-width: breakpoint(tablet)) {
    top: 4px;
    left: 0;
  }
}

.main-navigation__icon--search {
  @media (min-width: breakpoint(tablet)) {
    position: relative;
    top: 5px;
    left: 1px;
  }
}

.main-navigation__hidden {
  @media (min-width: breakpoint(tablet)) {
    @include visually-hidden();
  }
}

