.contact {
  padding-top: 35px;
  padding-bottom: 39px;
}

.contact__inner {
  width: auto;
  margin: 0 auto;
  padding: 0 30px 7px 30px;
  display: flex;
  flex-direction: column;

  @media (min-width: breakpoint(tablet)) {
    position: relative;
    width: auto;
    padding: 0 50px;
  }

  @media (min-width: breakpoint(desktop)) {
    width: auto;
    padding: 0 50px;
    max-width: 1150px;
  }
}

.contact__title {
  margin: 0 0 26px -2px;
  padding: 0;
  @include font-par(font-family(opensans), font-weight(bold), font-size(other), normal, color($base-c, black), font-lh(base-l));

  @media (min-width: breakpoint(tablet)) and (max-width: breakpoint(tablet-top)) {
    font-size: font-size(h2-t);
    line-height: font-lh(title-md);
  }

  @media (min-width: breakpoint(desktop)) {
    font-size: font-size(h2-d);
    line-height: font-lh(title-l);
  }
}

.contact__description {
  @include clear-list();
  display: flex;
  flex-direction: column;
}

.contact__item {
  margin: 0 0 30px -1px;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-basis: 100%;
  @include font-par(font-family(opensans), font-weight(regular), font-size(base-m), normal, color($main-c, secondary), font-lh(base-l));

  @media (min-width: breakpoint(tablet)) and (max-width: breakpoint(tablet-top)) {
    font-size: font-size(base-t);
    line-height: font-lh(base-l);
  }

  @media (min-width: breakpoint(desktop)) {

  }
}

.contact__name {
  margin: 0;
  padding: 0;
  flex-basis: 30%;
}

.contact__link {
  margin-left: -1px;
}

.contact__text {
  @include clear-list();
  flex-basis: 70%;
  margin-left: -1px;
}

.contact__button-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}
