.contact {
  padding-top: 35px;
  padding-bottom: 39px;

  @media (min-width: breakpoint(tablet)) {
    position: relative;
    padding-top: 77px;
    padding-bottom: 57px;
  }

  @media (min-width: breakpoint(desktop)) {
    padding-bottom: 105px;
  }
}

.contact__inner {
  @media (min-width: breakpoint(desktop)) {
    display: flex;
    flex-direction: column;
    position: relative;
    width: auto;
    margin: 0 auto;
    max-width: 1150px;
    padding: 79px 50px 0 223px;
  }
}

.contact__info-wrapper {
  width: auto;
  margin: 0 auto;
  padding: 0 30px 7px 30px;
  display: flex;
  flex-direction: column;

  @media (min-width: breakpoint(tablet)) {
    position: relative;
    width: auto;
    padding: 0 50px 26px 50px;

    &::after {
      position: absolute;
      top: -15px;
      right: 53px;
      content: "";
      width: 47px;
      height: 81px;
      background-image: url("../img/svg/flag.svg");
      background-repeat: no-repeat;
    }
  }

  @media (min-width: breakpoint(desktop)) {
    position: relative;
    width: auto;
    display: block;
    margin: 0;
    padding: 0;
    margin-bottom: 49px;

    &::after {
      position: absolute;
      top: -8px;
      left: -110px;
      content: "";
      width: 47px;
      height: 81px;
      background-image: url("../img/svg/flag.svg");
      background-repeat: no-repeat;
    }
  }
}

.contact__title {
  margin: 0 0 26px -2px;
  padding: 0;
  @include font-par(font-family(opensans), font-weight(bold), font-size(other), normal, color($base-c, black), font-lh(base-l));

  @media (min-width: breakpoint(tablet)) and (max-width: breakpoint(tablet-top)) {
    margin-left: -5px;
    margin-bottom: 49px;
    font-size: font-size(h2-t);
    line-height: font-lh(title-md);
  }

  @media (min-width: breakpoint(desktop)) {
    font-size: font-size(h2-d);
    line-height: font-lh(title-l);
    letter-spacing: -0.8px;
    margin-bottom: 49px;
  }
}

.contact__description {
  @include clear-list();
  display: flex;
  flex-direction: column;

  @media (min-width: breakpoint(tablet)) {
    flex-direction: row;
  }

  @media (min-width: breakpoint(desktop)) {
    flex-direction: column;
    margin-left: 2px;
  }
}

.contact__item {
  margin: 0 0 30px -1px;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-basis: 100%;
  @include font-par(font-family(opensans), font-weight(regular), font-size(base-m), normal, color($main-c, secondary), font-lh(base-l));

  @media (min-width: breakpoint(tablet)) {
    font-size: font-size(base-t);
    line-height: font-lh(base-l);
  }

  @media (min-width: breakpoint(desktop)) {
    flex-basis: auto;
    width: 100%;
  }
}

.contact__name {
  margin: 0;
  padding: 0;
  flex-basis: 30%;

  @media (min-width: breakpoint(tablet)) and (max-width: breakpoint(tablet-top)) {
    flex-basis: 23%;
  }

  @media (min-width: breakpoint(desktop)) {
    flex-basis: auto;
    margin-right: 26px;
  }
}

.contact__link {
  margin-left: -1px;

  @media (min-width: breakpoint(tablet)) and (max-width: breakpoint(tablet-top)) {
    margin-left: 0;
  }

  @media (min-width: breakpoint(desktop)) {

  }
}

.contact__text {
  @include clear-list();
  flex-basis: 70%;
  margin-left: -1px;

  @media (min-width: breakpoint(tablet)) and (max-width: breakpoint(tablet-top)) {
    margin-left: 0;
  }

  @media (min-width: breakpoint(desktop)) {

  }
}

.contact__button-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;

  @media (min-width: breakpoint(tablet)) {
    width: 230px;
    padding: 0;
  }

  @media (min-width: breakpoint(desktop)) {
    margin: 0 0 0 2px;
    padding: 0;
    max-width: 230px;
  }
}
