.main-header {

}

.main-header .main-header__top {

}

.main-header .main-header__inner {

}

.main-header .main-header__bottom {

}

.main-header .main-header__list {

}

.main-header .main-header__item {

}

.main-header .main-header__link {

}