.main-header {
  background-color: color($base-c, white);
  margin: 0;
  padding: 0;
  position: relative;
  box-shadow:
    inset 0 1px 0 0 color($grey-c, darker),
    inset 0 -1px 0 0 color($grey-c, darker);

  @media (min-width: breakpoint(tablet)) {
    min-height: 89px;
    overflow: visible;
  }

  @media (min-width: breakpoint(desktop)) {
    box-shadow: none;

    &::after {
      content: "ss";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 100%;
      transform: translateX(-50%);
      max-width: 1150px;
      height: 1px;
      background-color: color($grey-c, darker);
    }
  }
}

.main-header__top {
  margin: 0;
  padding: 0;
  @include box-shadow(0, -1px, 0, 0, color($grey-c, darker), true);

  @media (min-width: breakpoint(tablet)) and (max-width: breakpoint(tablet-top)){
    position: absolute;
    box-shadow: none;
    order: -2;
  }

  @media (min-width: breakpoint(desktop)) {
    @include centerer();
    box-shadow: none;
  }
}

.main-header__bottom {
  @media (min-width: breakpoint(tablet)) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
  }

  @media (min-width: breakpoint(desktop)) {
    justify-content: space-between;
  }
}

.main-header__inner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: 80px;
  position: relative;

  width: auto;
  padding: 0 30px;
  margin: 0 auto;


  @media (min-width: breakpoint(tablet)) {
    position: relative;
    width: auto;
    padding: 0;
    margin: 0;
    justify-content: flex-start;
  }
}

