.products {
  margin: 0;
  padding: 30px 0 0 0;

  @media (min-width: breakpoint(tablet)) {
    padding: 31px 0 0 0;
  }

  @media (min-width: breakpoint(desktop)) {
    padding: 32px 0 0 0;
  }
}

.products__inner {
  width: auto;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  flex-direction: column;

  @media (min-width: breakpoint(tablet)) {
    position: relative;
    width: auto;
    padding: 0 50px 42px 50px;
  }

  @media (min-width: breakpoint(desktop)) {
    width: auto;
    padding: 0 50px 81px 50px;
    max-width: 1150px;
  }
}

.products__list {
  @include clear-list();
  display: flex;
  flex-direction: column;
}

.products__item {
  width: 100%;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0px;
  }

  @media (min-width: breakpoint(tablet)) {
    padding: 31px 0 0 0;
  }

  @media (min-width: breakpoint(desktop)) {
    padding: 32px 0 0 0;
  }
}
