.products {
  margin: 0;
  padding: 30px 0 0 0;

  @media (min-width: breakpoint(tablet)) {
    padding: 80px 0 0 0;
  }

  @media (min-width: breakpoint(desktop)) {
    padding: 32px 0 0 0;
  }
}

.products__inner {
  width: auto;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  flex-direction: column;

  @media (min-width: breakpoint(tablet)) {
    position: relative;
    width: auto;
    padding: 0 50px 42px 50px;
  }

  @media (min-width: breakpoint(desktop)) {
    width: auto;
    padding: 0 50px 81px 50px;
    max-width: 1150px;
  }
}

.products__list {
  @include clear-list();
  display: flex;
  flex-direction: column;

  @media (min-width: breakpoint(desktop)) {
    flex-direction: row;
  }
}

.products__item {
  width: 100%;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: breakpoint(tablet)) {
    padding: 0;
    margin-bottom: 54px;
  }

  @media (min-width: breakpoint(desktop)) {
    flex-basis: auto;
    width: (4/12)*100%;
    padding: 0 30.5px 0 0;
  }

  &:nth-child(3n) {
    @media (min-width: breakpoint(desktop)) {
      padding: 0;
    }
  }
}

@media (min-width: breakpoint(tablet)) {
  .products__item:nth-of-type(2) .product-card__title {
    margin-bottom: 8px;
  }
}

@media (min-width: breakpoint(tablet)) {
  .products__item:nth-of-type(2) .product-card__text {
    letter-spacing: -0.1px;
  }
}
