.products {
  margin: 0;
  padding: 30px 0 0 0;

  @media (min-width: breakpoint(tablet)) {
    padding: 80px 0 0 0;
  }

  @media (min-width: breakpoint(desktop)) {
    padding: 130px 0 0 0;
  }
}

.products__inner {
  width: auto;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  flex-direction: column;

  @media (min-width: breakpoint(tablet)) {
    position: relative;
    width: auto;
    padding: 0 50px 42px 50px;
  }

  @media (min-width: breakpoint(desktop)) {
    width: auto;
    padding: 0 49px 3px 49px;
    max-width: 1150px;
  }
}

.products__list {
  @include clear-list();
  display: flex;
  flex-direction: column;

  @media (min-width: breakpoint(desktop)) {
    flex-direction: row;
  }
}

.products__item {
  width: 100%;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: breakpoint(tablet)) {
    padding: 0;
    margin-bottom: 54px;
  }

  @media (min-width: breakpoint(desktop)) {
    flex-basis: auto;
    width: 316px;
    margin-right: 51px;
    display: flex;
  }
}

.products__item:last-child {
  @media (min-width: breakpoint(desktop)) {
    margin-bottom: 54px;
  }
}

.products__item:nth-child(3n) {
  @media (min-width: breakpoint(desktop)) {
    margin-right: 0;
  }
}

.products__item:nth-of-type(2) .product-card__title {
  @media (min-width: breakpoint(tablet)) {
    margin-bottom: 5px;
  }
}

.products__item:nth-of-type(2) .product-card__text {
  @media (min-width: breakpoint(tablet)) {
    letter-spacing: -0.1px;
  }
}

