.main-title {
  margin: 0;
  padding: 0;
  @include font-par(font-family(opensans), font-weight(bold), font-size(h2-m), normal, color($base-c, black), font-lh(base-l));

  @media (min-width: breakpoint(tablet)) and (max-width: breakpoint(tablet-top)) {
    font-size: font-size(h2-t);
    line-height: font-lh(title-md);
  }

  @media (min-width: breakpoint(desktop)) {
    font-size: font-size(h2-d);
    line-height: font-lh(title-l);
  }
}

.main-title--size--l {
  font-size: font-size(h2-m-l);
  text-align: center;
  margin: 0 auto;
  width: 100%;

  @media (min-width: breakpoint(tablet)) and (max-width: breakpoint(tablet-top)) {
    font-size: font-size(h2-t);
    line-height: font-lh(title-md);
  }

  @media (min-width: breakpoint(desktop)) {
    font-size: font-size(h2-d);
    line-height: font-lh(title-l);
  }
}

.main-title.main-title--size--s {

}
