.container {
  width: auto;
  max-width: 320px;
  padding: 0 30px;
  margin: 0 auto;

  @media (min-width: breakpoint(tablet)) {
    width: auto;
  }

  @media (min-width: breakpoint(desktop)) {
    width: auto;
    max-width: 1150px;
  }
}
