.container {
  width: auto;
  padding: 0 30px;
  margin: 0 auto;

  @media (min-width: breakpoint(tablet)) {
    position: relative;
    width: auto;
    padding: 0 50px;
  }

  @media (min-width: breakpoint(desktop)) {
    width: auto;
    padding: 0 100px;
    max-width: 1150px;
  }
}
