// --- Variables ---
@import "./utility/variables.scss";

// --- Grid ---
@import "./utility/grid.scss";

// --- Functions ---
@import "./utility/functions.scss";

// --- Mixins ---
@import "./utility/mixins.scss";

// --- Base styles ---
@import "./utility/base.scss";

.about-us {

}

.about-us__inner {
  background-color: #fff;
  @include font-par();
}

.about-us__title {
  @include font-par(font-family(opensans), font-weight(regular), font-size(base-m), normal, color($main-c, secondary), font-lh(base));
}

.about-us .about-us__list-wrapper {

}

.about-us__list {
  @include clear-list();
}

.about-us .about-us__item {

}

.about-us .about-us__text {

}

@media (min-resolution: 2dppx) {
  .image {
    background-image: url(image@2x.png);
  }
}

.best-product {
  padding-top: 34px;
}

.best-product__inner {
  display: flex;
  flex-direction: column;
}

.best-product__top {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.best-product__subtitle {
  @include font-par(font-family(opensans), font-weight(bold), font-size(base-t), normal, color($main-c, primary), font-lh(base));
  text-transform: uppercase;
  order: -1;
}

.best-product__title {
  padding-left: 2px;
}

.best-product__paragraph {
  @include clear-list();
  @include font-par(font-family(opensans), font-weight(regular), font-size(base-m), normal, color($main-c, secondary), font-lh(base-md));
  margin-bottom: 33px;
}

.best-product .best-product__content {

}

.best-product .best-product__description {

}

.best-product .best-product__table {

}

.best-product .best-product__row {

}

.best-product .best-product__buy {

}

.best-product .best-product__text {

}

.best-product .best-product__price-text {

}

.best-product__button-wrapper {
  min-width: 259px;
  width: auto;
  display: flex;
  justify-content: space-between;
}

.best-product .best-product__right {

}

.break-text {

  @media (min-width: breakpoint(tablet)) {
    display: none;
  }
}

.button {
  @include box-shadow(0, 0, 0, 2px, color($main-c, secondary), true);
  @include font-par(font-family(opensans), font-weight(bold), font-size(base-t), normal, color($main-c, secondary), font-lh(base));
  background-color: transparent;
  text-transform: uppercase;
  padding: 10px 85px;
  width: 100%;
  display: block;
  text-align: center;
  margin: 0;
}

.button__inner {
  width: 100%;
  padding: 25px 0 15px 30px;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (min-width: breakpoint(tablet)) {
    padding: 25px 0 15px 36px;
  }

  @media (min-width: breakpoint(tablet)) {
    padding: 25px 0 15px 37px;
  }
}

.button--primary {
  width: 100%;
  background-color: color($main-c, primary);
  @include font-par(font-family(opensans), font-weight(bold), font-size(base-d), normal, color($base-c, white), font-lh(base-md));
  text-transform: none;
  border: 0;
  box-shadow: none;
  text-align: left;
  min-height: 103px;

  @media (min-width: breakpoint(tablet))  {
    font-size: font-size(other-l);
    line-height: font-lh(base-l);
  }
}

.button--icon--interior {
  &:hover {
    position: relative;
    background-color: #59d5bc;

    .button__inner--icon--interior {
      position: absolute;
      left: 0;
      bottom: 5px;
      background-color: #59d5bc;
    }

    .button__svg--interior {
      fill: rgba(#149080, 0.7);
    }
  }

  &:active {
    background-color: #59d5bc;
    color: rgba(#ffffff, 0.3);

    .button__svg--interior {
      fill: rgba(#149080, 0.3);
    }
  }
}

.button--icon--toy {
  background-color: #56c3b2;

  &:hover {
    position: relative;
    background-color: color($main-c, accent);

    .button__inner--icon--toy {
      position: absolute;
      left: 0;
      bottom: 5px;
      background-color: color($main-c, accent);
    }

    .button__svg--toy {
      fill: rgba(#149080, 0.7);
    }
  }

  &:active {
    background-color: color($main-c, accent);
    color: rgba(#ffffff, 0.3);

    .button__svg--interior {
      fill: rgba(#149080, 0.3);
    }
  }
}

.button__text {
  white-space: pre-line;
}

.button__svg--interior {
  margin-right: 36px;
  fill: rgba(#149080, 0.5);
}

.button__svg--toy {
  margin-right: 27px;
  fill: rgba(#149080, 0.5);

  @media (min-width: breakpoint(tablet)) {
    margin-right: 33px;
  }

  @media (min-width: breakpoint(desktop)) {
    margin-right: 35px;
  }
}

.catalog-video {

}

.catalog-video .catalog-video__inner {

}

.catalog-video .catalog-video__header {

}

.catalog-video .catalog-video__title {

}

.catalog-video .catalog-video__icon {

}

.catalog-video .catalog-video__media-wrapper {

}

.catalog-video .catalog-video__bottom {

}

.catalog-video .catalog-video__text {

}

.catalog-video .catalog-video__button-wrapper {

}
.checkbox {

}

.checkbox .checkbox__control {

}

.checkbox .checkbox__label {

}

.checkbox .checkbox__label.checkbox__label--size-m {

}
.contact {

}

.contact__inner {

}

.contact__description {
  @include clear-list();
}

.contact .contact__item {

}

.contact .contact__name {

}

.contact .contact__link {

}

.contact .contact__text {

}

.contact .contact__button-wrapper {

}

.container {
  width: auto;
  padding: 0 30px;
  margin: 0 auto;


  @media (min-width: breakpoint(tablet)) {
    position: relative;
    width: auto;
    padding: 0 50px;
  }

  @media (min-width: breakpoint(desktop)) {
    width: auto;
    padding: 0 100px;
    max-width: 1150px;
  }
}

.footer-copyright {
  @include clear-list();
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 261px;
    height: 1px;
    top: 0;
    left: 0;
    background-color: color($grey-c, darker);
  }
}

.footer-copyright__text {
  margin: 0 30px 0 0;
  padding: 0;
  @include font-par(font-family(opensans), font-weight(bold), font-size(base-d), normal, color($base-c, black), font-lh(base));
}

.form-group {

}

.form-group .form-group__inner {

}

.form-group .form-group__title {

}

.form-group .form-group__radio {

}

.form-group .form-group__checkbox {

}

.form-group .form-group__input {

}

.form-group .form-group__textarea {

}
.form-list {

}

.form-list .form-list__item {

}

.form-list .form-list__bottom {

}
.htmlacademy-logo {

}

.htmlacademy-logo .htmlacademy-logo__svg {

}
.impressions {

}

.impressions__title {

}

.impressions__blockquote {
  @include clear-list();
}

.impressions__footer {

}

.impressions__author {
  @include clear-list();
}

.impressions__author-name {

}

.impressions__author-contact {

}

.impressions__buttons-wrapper {

}

.impressions__slider-button {

}

.impressions__button-wrapper {

}

.impressions__button {

}

.impressions-inner {

}
.input {
  background-color: darkred;
}

.input.input--type--text {
  color: #0e84b5;
  font-size: 20px;
}

.input.input--type--number {

}

.input .input__label {

}

.input .input__control {

}

.input .input__control.input__control--icon {

}

.input .input__wrap {

}

.input .input__icon {

}

.js-toggle-button {

}
.link {
  @include link();
  display: block;
}

.link--icon {
  &:hover {
    .main-navigation__icon {
      fill: color($main-c, primary);
    }
  }

  &:active {
    .main-navigation__icon {
      fill: rgba(color($main-c, primary), 0.3);
    }
  }
}
.link.link--mail {

}

.link__text {

}

.main-content {

}
.main-footer {
  background-color: color($grey-c, default);

  &:hover {
    .main-footer__logo-svg {
      fill: color($main-c, accent);
    }
  }

  &:active {
    .social-link__svg {
      fill: color($main-c, accent);
      opacity: 0.3;
    }
  }
}

.main-footer__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
}

.main-footer__logo-svg {
  display: none;

  @media (min-width: breakpoint(tablet)) {
    display: block;
  }
}

.main-header {
  background-color: color($base-c, white);
  margin: 0;
  padding: 0;
  box-shadow:
    inset 0 1px 0 0 color($grey-c, darker),
    inset 0 -1px 0 0 color($grey-c, darker);

  @media (min-width: breakpoint(tablet)) {
    min-height: 89px;
    overflow: visible;
  }
}

.main-header__top {
  margin: 0;
  padding: 0;
  @include box-shadow(0, -1px, 0, 0, color($grey-c, darker), true);

  @media (min-width: breakpoint(tablet)) {
    box-shadow: none;
    order: -2;
    margin-right: 20%;
  }
}

.main-header__inner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: 80px;
  position: relative;

  width: auto;
  padding: 0 30px;
  margin: 0 auto;


  @media (min-width: breakpoint(tablet)) {
    position: relative;
    width: auto;
    padding: 0;
    margin: 0;
  }

  @media (min-width: breakpoint(desktop)) {
    width: auto;
    padding: 0 100px;
    max-width: 1150px;
  }
}


.main-logo {
  @include centerer(null, null, both);
  padding-bottom: 1px;
  padding-right: 2px;
  display: block;

  @media (min-width: breakpoint(tablet)) and (max-width: breakpoint(tablet-top)) {
    position: static;
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }
}

.main-logo__svg {
  display: none;

  @media (min-width: breakpoint(desktop)) {
    display: block;
  }
}

.main-logo__svg--mobile {
  display: block;

  @media (min-width: breakpoint(tablet)) {
    display: none;
  }
}

.main-logo__svg--tablet {
  display: none;

  @media (min-width: breakpoint(tablet)) and (max-width: breakpoint(tablet-top)) {
    display: block;
  }
}

.main-map {

}
.main-navigation {
  position: relative;
  width: 100%;
  display: flex;
  background-color: transparent;
  flex-direction: column;
  flex-wrap: wrap;
  z-index: 1;

  @media (min-width: breakpoint(tablet)) {
    flex-direction: row;
    margin: 0 auto;
    padding: 0 50px;
    max-height: 89px;

  }
}

.main-navigation__list {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  @include clear-list();
  @include font-par(font-family(opensans), font-weight(regular), font-size(base-m), normal, color($main-c, secondary), font-lh(base-md));

  @media (min-width: breakpoint(tablet)) {
    flex-direction: row;
  }
}

.main-navigation__list--first {
  @media (min-width: breakpoint(tablet)) {
    order: -1;

    .main-navigation__item {
      @include box-shadow(1px, 0, 0, 0, color($grey-c, darker), true);
      padding: 29px 31px 36px 31px;
    }

    .main-navigation__link {
      padding-left: 31px;
    }
  }
}

.main-navigation__list--second {
  @media (min-width: breakpoint(tablet)) {
    .main-navigation__link {
      font-size: font-size(base-m);
    }
  }
}

.main-navigation__item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 75px;
  background-color: transparent;
  padding-top: 26px;
  padding-bottom: 29px;
  @include box-shadow(0, -1px, 0, 0, color($grey-c, darker), true);

  @media (min-width: breakpoint(tablet)) {
    min-width: 82px;
    box-shadow: none;
    padding: 25px 37px 25px 0;
    @include font-par(font-family(opensans), font-weight(bold), font-size(base-m), normal, color($base-c, black), font-lh(base-md));
  }
}

.main-navigation__link {
  position: relative;
  @include font-par(font-family(opensans), font-weight(bold), font-size(base-t), normal, color($base-c, black), font-lh(base-md));
}

.main-navigation__text {
  @media (min-width: breakpoint(tablet)) {
    @include visually-hidden();
  }
}

.main-navigation__icon {
  position: absolute;
  top: 5px;
  left: -43px;
  fill: rgba(color($base-c, svg), 0.3);

  @media (min-width: breakpoint(tablet)) {
    top: 0;
    left: 0;
  }
}



.main-page {
  padding: 0;
  margin: 0;
}

.main-paragraph {
  @include clear-list();
  @include font-par(font-family(opensans), font-weight(regular), font-size(base-m), normal, color($main-c, secondary), font-lh(base-md));
}

.main-title {
  margin: 0;
  padding: 0;
  @include font-par(font-family(opensans), font-weight(bold), font-size(h2-m), normal, color($base-c, black), font-lh(base-l));

  @media (min-width: breakpoint(tablet)) and (max-width: breakpoint(tablet-top)) {
    font-size: font-size(h2-t);
    line-height: font-lh(title-md);
  }

  @media (min-width: breakpoint(desktop)) {
    font-size: font-size(h2-d);
    line-height: font-lh(title-l);
  }
}

.main-title--size--l {
  font-size: font-size(h2-m-l);
  text-align: center;
  margin: 0 auto;
  width: 100%;

  @media (min-width: breakpoint(tablet)) and (max-width: breakpoint(tablet-top)) {
    font-size: font-size(h2-t);
    line-height: font-lh(title-md);
  }

  @media (min-width: breakpoint(desktop)) {
    font-size: font-size(h2-d);
    line-height: font-lh(title-l);
  }
}

.main-title.main-title--size--s {

}

.modal-cart {

}

.modal-cart .modal-cart__inner {

}

.modal-cart .modal-cart__button-wrapper {

}
.modal-overlay {

}
.order-form {

}

.order-form .order-form__list {

}

.order-form .order-form__required-text {

}

.order-form .order-form__button-wrapper {

}
.order-page {

}

.order-page .order-page__paragraph {

}
.product-card {

}

.product-card .product-card__inner {

}

.product-card .product-card__image-wrapper {

}

.product-card .product-card__image {

}

.product-card .product-card__description {

}

.product-card .product-card__title {

}

.product-card .product-card__text {

}

.product-card .product-card__bottom {

}

.product-card .product-card__price {

}
.products {

}

.products .products__inner {

}

.products .products__list {

}

.products .products__item {

}
.promo-things {
  background-color: color($grey-c, light);
}

.promo-things__inner {
  padding-top: 70px;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  padding-bottom: 122px;

  @media (min-width: breakpoint(tablet)){
    padding-top: 160px;
    padding-bottom: 356px;
  }
}

.promo-things__title {

}

.promo-things__button {
  margin: 0;
  padding: 0;
}

.promo-things__button-wrapper {
  flex-basis: 50%;
}

.promo-things__bottom {
  display: flex;
  flex-direction: column;

  @media (min-width: breakpoint(tablet)) {
    margin: 0 auto;
    flex-direction: row;
    padding: 0 50px;
  }

  @media (min-width: breakpoint(desktop)) {
    max-width: 1150px;
  }
}

.radio {

}

.radio .radio__control {

}

.radio .radio__label {

}

.radio .radio__label.radio__label--dot {

}
.size-form {

}

.size-form .size-form__inner {

}

.size-form .size-form__checkbox {

}
.slider-button {

}
.social-link {
  cursor: pointer;
  display: block;

  &:hover {
    .social-link__svg {
      fill: color($main-c, accent);
    }
  }

  &:active {
    .social-link__svg {
      fill: color($main-c, accent);
      opacity: 0.3;
    }
  }

}

.social-link__svg {

}


.social-list {
  @include clear-list();
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.social-list__item {
  margin-right: 41px;
  margin-bottom: 6px;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.svg-image {
  
}

.textarea {

}

.textarea .textarea__label {

}

.textarea .textarea__control {

}
.toggle-button {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0 1px 1px 0;
  height: 40px;
  cursor: pointer;
  @include flex-centerer();

  @media (min-width: breakpoint(tablet)) {
    display: none;
  }
}

.toggle-button__svg {

}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}
