// Main config
@import "./utility/config";

// Other
@import "blocks/swiper/_swiper.scss";
@import "blocks/about-us/_about-us.scss";
@import "blocks/best-product/_best-product.scss";
@import "blocks/button/_button.scss";
@import "blocks/catalog-video/_catalog-video.scss";
@import "blocks/checkbox/_checkbox.scss";
@import "blocks/contact/_contact.scss";
@import "blocks/container/_container.scss";
@import "blocks/footer-copyright/_footer-copyright.scss";
@import "blocks/form-group/_form-group.scss";
@import "blocks/form-list/_form-list.scss";
@import "blocks/hamburger-button/_hamburger-button.scss";
@import "blocks/htmlacademy-logo/_htmlacademy-logo.scss";
@import "blocks/impressions/_impressions.scss";
@import "blocks/impressions-slider/_impressions-slider.scss";
@import "blocks/input/_input.scss";
@import "blocks/is-unclickable/_is-unclickable.scss";
@import "blocks/js-dropdown-navigation/_js-dropdown-navigation.scss";
@import "blocks/js-hamburger-button/_js-hamburger-button.scss";
@import "blocks/js-placeholder/_js-placeholder.scss";
@import "blocks/link/_link.scss";
@import "blocks/main-content/_main-content.scss";
@import "blocks/main-footer/_main-footer.scss";
@import "blocks/main-header/_main-header.scss";
@import "blocks/main-logo/_main-logo.scss";
@import "blocks/main-map/_main-map.scss";
@import "blocks/main-navigation/_main-navigation.scss";
@import "blocks/main-page/_main-page.scss";
@import "blocks/main-paragraph/_main-paragraph.scss";
@import "blocks/main-title/_main-title.scss";
@import "blocks/modal-cart/_modal-cart.scss";
@import "blocks/modal-overlay/_modal-overlay.scss";
@import "blocks/order-body/_order-body.scss";
@import "blocks/order-form/_order-form.scss";
@import "blocks/order-page/_order-page.scss";
@import "blocks/product-card/_product-card.scss";
@import "blocks/products/_products.scss";
@import "blocks/promo-things/_promo-things.scss";
@import "blocks/radio/_radio.scss";
@import "blocks/size-form/_size-form.scss";
@import "blocks/slider-button/_slider-button.scss";
@import "blocks/social-link/_social-link.scss";
@import "blocks/social-list/_social-list.scss";
@import "blocks/textarea/_textarea.scss";
@import "blocks/visually-hidden/_visually-hidden.scss";
