.promo-things {
  background-color: color($grey-c, light);
}

.promo-things .promo-things__inner {

}

.promo-things .promo-things__title {

}

.promo-things .promo-things__bottom {

}

.promo-things .promo-things__button-wrapper {

}

.promo-things .promo-things__button {

}
