.promo-things {
  background-color: color($grey-c, light);
  position: relative;
}

.promo-things::after {
  @media (min-width: breakpoint(tablet)) {
    content: "";
    position: absolute;
    bottom: -11px;
    left: 0;
    padding-top: (34px/1150px)*100%;
    height: 24px;
    max-height: 34px;
    display: block;
    width: 100%;
    background-image: url("../img/svg/zigzag-fill.svg");
    background-repeat: repeat-x;
    background-position: 50% 100%;
  }

  @media (min-width: breakpoint(desktop)) {
    bottom: -19px;
    height: 37px;
    max-height: 37px;
    padding-top: 0;
    background-repeat: repeat-x;
    background-position: 50% 50%;
    background-size: 1250px 100%;
  }
}

.promo-things--inner-page::after {
  @media (min-width: breakpoint(desktop)) {
    background-size: 1150px 100%;
  }
}

.promo-things__inner {
  padding-top: 70px;
  background-color: color($grey-c, light);
  background-image: url("../img/hero-mobile@1x.jpg");
  background-size: 575px 373px;
  background-repeat: no-repeat;
  background-position: 49.7% 20%;
  padding-bottom: 122px;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
  }

  @media (min-width: breakpoint(tablet)) {
    padding-top: 153px;
    padding-bottom: 373px;
    background-color: color($grey-c, light);
    background-image: url("../img/hero-tablet@1x.jpg");
    background-position: 50% 1%;
    background-size: 1150px 746px;
  }

  @media (min-width: breakpoint(tablet)) and (min-resolution: 144dpi),
  (min-width: breakpoint(tablet)) and (min-resolution: 1.5dppx) {
    background-image: url("../img/hero-tablet@2x.jpg");
  }

  @media (min-width: breakpoint(desktop)) {
    padding-bottom: 359px;
  }
}

.promo-things__inner--no-image {
  padding-top: 70px;
  background-color: #f1f1f1;
  background-image: none;
  padding-bottom: 76px;

  @media (min-width: breakpoint(tablet)) {
    padding-top: 95px;
    padding-bottom: 79px;
  }

  @media (min-width: breakpoint(desktop)) {
    padding-top: 93px;
    padding-bottom: 102px;
  }
}

.promo-things__inner--order {
  @media (min-width: breakpoint(tablet)) {
    padding-top: 94px;
    padding-bottom: 80px;
  }

  @media (min-width: breakpoint(desktop)) {
    padding-bottom: 102px;
  }
}

.promo-things__button {
  margin: 0;
  padding: 0;
  min-height: 103px;
  position: relative;

  @include font-par(font-family(opensans), font-weight(bold), font-size(base-d), normal, color($base-c, white), font-lh(base-md));

  text-transform: none;
  border: 0;
  box-shadow: none;
  text-align: left;

  @media (min-width: breakpoint(tablet)) {
    font-size: font-size(other-l);
    line-height: font-lh(base-l);
    min-height: 119px;
  }
}

.promo-things__button-wrapper {
  flex-basis: auto;
  width: 100%;
}

.promo-things__bottom {
  display: flex;
  flex-direction: column;

  @media (min-width: breakpoint(tablet)) {
    margin: 0 auto;
    flex-direction: row;
    width: auto;
    padding: 0 50px;
    min-width: 668px;
  }

  @media (min-width: breakpoint(desktop)) {
    max-width: 1150px;
  }
}
