.checkbox {
  padding: 0;
}

.checkbox__control:focus {
  + .checkbox__label--size--m {
    @include box-shadow(0, 0, 0, 2px, rgba(color($main-c, secondary), 0.3), true);

    @include pseudo-focus();
  }

  + .checkbox__label--mark::before {
    @include border(2px, solid, color($main-c, primary));

    @include pseudo-focus();
  }
}

.checkbox__control:hover {
  + .checkbox__label--size--m {
    @include box-shadow(0, 0, 0, 2px, rgba(color($main-c, secondary), 0.3), true);
  }

  + .checkbox__label--mark::before {
    @include border(2px, solid, color($main-c, primary));
  }
}

.checkbox__control:active {
  + .checkbox__label--size--m {
    @include box-shadow(0, 0, 0, 2px, color($main-c, primary), true);
  }

  + .checkbox__label--mark::before {
    @include border(2px, solid, rgba(color($main-c, secondary), 0.3));
  }
}

.checkbox__control:checked + .checkbox__label--size--m {
  @include box-shadow(0, 0, 0, 2px, color($main-c, primary), true);
}

.checkbox__control:checked + .checkbox__label--mark::after {
  content: "";
  margin: 0;
  padding: 0;
  position: absolute;
  top: 13px;
  left: 8px;
  flex-shrink: 0;
  width: 23px;
  height: 17px;
  background-image: url("../img/svg/checkbox-mark-icon.svg");
  background-repeat: no-repeat;
  background-size: 23px 17px;

  @media (min-width: breakpoint(tablet)) {
    width: 33px;
    height: 22px;
    top: 1px;
    left: 11px;
    background-size: 33px 22px;
  }
}


.checkbox__label {
  cursor: pointer;
}

.checkbox__label--size--m {
  display: block;
  padding: 18px 0 18px 0;
  width: 100%;
  text-align: center;
  transition: box-shadow 0.25s ease;

  @include box-shadow(0, 0, 0, 2px, rgba(color($main-c, secondary), 0.1), true);
}

.checkbox__label--mark {
  margin: 0;
  padding: 12px 0 0 0;
  position: relative;
  display: flex;
  align-items: flex-start;
  cursor: pointer;

  @media (min-width: breakpoint(tablet)) {
    padding: 0 0 0 80px;
  }
}

.checkbox__label--mark::before {
  content: "";
  margin: -11px 23px 0 0;
  padding: 0;
  flex-shrink: 0;
  width: 40px;
  height: 39px;

  @include border(2px, solid, color($main-c, secondary));

  @media (min-width: breakpoint(tablet)) {
    width: 54px;
    height: 52px;
    margin: 0;
    position: absolute;
    top: -15px;
    left: 0;
  }
}
