.slider-button {
  margin: 0;
  padding: 13px 0;
  border: 0;
  background-color: transparent;
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:focus, &:hover {
    .slider-button__svg {
      fill: rgba(color($base-c, black), 0.6);
    }
  }

  &:active {
    .slider-button__svg {
      fill: rgba(color($base-c, black), 0.3);
    }
  }

  @media (min-width: breakpoint(tablet)) {
    flex-basis: 50px;
  }
}

.slider-button__svg {
  margin: 0 4px 0 0;
  padding: 0;

  @media (min-width: breakpoint(tablet)) {
    margin: 0;
    padding: 0;
  }
}

.slider-button__svg--left-arrow {
  @media (min-width: breakpoint(tablet)) {
    margin-right: 37px;
  }
}
