.slider-button {
  position: relative;
  margin: 0;
  padding: 13px 0;
  border: 0;
  background-color: transparent;
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;

  &::after {
    @include pseudo-ie11-fix();
  }

  @media (min-width: breakpoint(tablet)) {
    flex-basis: 50px;
  }
}

.slider-button:focus,
.slider-button:hover {
  .slider-button__svg {
    color: rgba(color($base-c, black), 0.6);
    fill: rgba(color($base-c, black), 0.6);
  }
}

.slider-button:active {
  .slider-button__svg {
    color: rgba(color($base-c, black), 0.3);
    fill: rgba(color($base-c, black), 0.6);
  }
}

.slider-button:first-of-type {
  @media (min-width: breakpoint(tablet)) {
    margin-right: 37px;
  }
}

.slider-button__svg {
  margin: 0 4px 0 0;
  padding: 0;

  @media (min-width: breakpoint(tablet)) {
    margin: 0;
    padding: 0;
  }
}
