.footer-copyright {
  @include clear-list();
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 261px;
    height: 1px;
    top: -14px;
    left: -37px;
    background-color: color($grey-c, darker);
  }
}

.footer-copyright__text {
  margin: 0 21px 0 0;
  padding: 0 0 2px 0;
  @include font-par(font-family(opensans), font-weight(bold), font-size(base-d), normal, color($base-c, black), font-lh(base));
}
