.social-link {
  cursor: pointer;
  display: block;
}

.social-link:focus, .social-link:hover {
  .social-link__svg {
    fill: color($main-c, accent);
  }
}

.social-link:active {
  .social-link__svg {
    fill: color($main-c, accent);
    opacity: 0.3;
  }
}

.social-link__svg {

}

