.best-product {
  padding-top: 34px;
}

.best-product__inner {
  display: flex;
  flex-direction: column;
}

.best-product__top {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.best-product__subtitle {
  @include font-par(font-family(opensans), font-weight(bold), font-size(base-t), normal, color($main-c, primary), font-lh(base));
  text-transform: uppercase;
  order: -1;
}

.best-product__title {
  padding-left: 2px;
}

.best-product__paragraph {
  @include clear-list();
  @include font-par(font-family(opensans), font-weight(regular), font-size(base-m), normal, color($main-c, secondary), font-lh(base-md));
  margin-bottom: 33px;
}

.best-product .best-product__content {

}

.best-product .best-product__description {

}

.best-product .best-product__table {

}

.best-product .best-product__row {

}

.best-product .best-product__buy {

}

.best-product .best-product__text {

}

.best-product .best-product__price-text {

}

.best-product__button-wrapper {
  min-width: 259px;
  width: auto;
  display: flex;
  justify-content: space-between;
}

.best-product .best-product__right {

}
