.best-product {

}

.best-product .best-product__inner {

}

.best-product .best-product__top {

}

.best-product .best-product__subtitle {

}

.best-product .best-product__title {

}

.best-product .best-product__content {

}

.best-product .best-product__description {

}

.best-product .best-product__table {

}

.best-product .best-product__row {

}

.best-product .best-product__buy {

}

.best-product .best-product__text {

}

.best-product .best-product__price-text {

}

.best-product__button-wrapper {
  min-width: 259px;
  width: auto;
  display: flex;
  justify-content: space-between;
}

.best-product .best-product__right {

}
