.form-group {
  margin: 0;
  padding: 0;

  @include font-par(font-family(opensans), font-weight(bold), font-size(base-t), normal, color($base-c, black), 18px);

  @media (min-width: breakpoint(tablet)) {
    font-size: font-size(base-d);
  }
}

.form-group__inner {
  @media (min-width: breakpoint(tablet)) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 50px 0 52px;
  }
}

.form-group__title {
  margin: 0 0 24px -1px;
  padding: 0;
  display: flex;
  align-items: center;
  text-transform: uppercase;

  @include font-par(font-family(opensans), font-weight(bold), font-size(base-t), normal, color($main-c, primary), 16px);

  @media (min-width: breakpoint(tablet)) {
    padding-top: 2px;
    margin-left: -1px;
  }

  @media (min-width: breakpoint(desktop)) {

  }
}

.form-group__title::after {
  content: "";
  height: 1px;
  margin-left: 20px;
  flex: 1;
  background-color: color($main-c, primary);

  @media (min-width: breakpoint(tablet)) {
    display: none;
  }
}

.form-group__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: breakpoint(tablet)) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: auto;
    width: (501px/666px)*100%;
  }
}

.form-group__title--tel,
.form-group__title--mail {
  margin-bottom: 9px;
}

.form-group__title--textarea {
  margin-bottom: 25px;
}

.form-group__radio {
  width: 100%;
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: breakpoint(tablet)) {
    margin-bottom: 59px;
  }
}

.form-group__checkbox {
  margin-bottom: 21px;

  @media (min-width: breakpoint(tablet)) {
    width: 239px;
    margin-bottom: 58px;
  }
}

.form-group__checkbox:last-child {
  margin-bottom: 0;
}

.form-group__input {
  display: flex;
  flex-direction: column;
  margin-bottom: 17px;

  @media (min-width: breakpoint(tablet)) {
    flex-direction: row;
    align-items: center;
  }
}

.form-group__textarea {
  margin-bottom: 13px;
}
