.radio {
  padding: 10px 0 0 0;
}

.radio__control {

}

.radio__label {
  position: relative;
  display: flex;
  align-items: flex-start;

  &::before {
    margin-right: 23px;
    flex-shrink: 0;
    margin-top: -9px;
    content: "";
    width: 39px;
    height: 39px;
    @include border(2px, solid, color($main-c, secondary));
    @include border-radius(50%);
  }

  &::after {
    flex-shrink: 0;
    margin-top: -9px;
    content: "";
    width: 16px;
    height: 16px;
    background-color: color($main-c, primary);
    @include border-radius(50%);
  }
}

.radio .radio__label.radio__label--dot {

}
