.form-list {
  @include clear-list();
}

.form-list__item {
  margin: 0 0 32px 0;
  padding: 0;

  @media (min-width: breakpoint(tablet)) {
    margin: 0;
    padding: 65px 0 65px 0;
  }
}

/*.form-list__item:first-child .form-group__title {
  @media (min-width: breakpoint(tablet)) {
    padding-top: 20px;
  }
}*/

.form-list__item:nth-child(1) {
  @media (min-width: breakpoint(tablet)) {
    padding: 68px 0 68px 0;
  }
}

.form-list__item:nth-child(even) {
  @media (min-width: breakpoint(tablet)) {
    background-color: color($grey-c, default);
  }
}

.form-list__bottom {

}
