// --- Base styles --

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

svg path,
rect,
g {
  fill: inherit;
  stroke: inherit;
}

@include font-face(Open Sans, "/fonts")
