// --- Variables ---

// Breakpoints

$breakpoints: (

);

// Colors

$grey-c: (
  grey: #f1f1f1,
  grey--light: #f9f9f9,
  grey--lighten: #fdfdfd,
  grey--dark: #ececec,
  grey--darken: #cccccc,
  grey--darkest: #444444
);

$base-c: (
  black: #000000,
  white: #ffffff
);

$main-c: (
  color--primary: #63d1bb,
  color--secondary: map_get($grey-c, grey--darkest),
  //color--success: ,
  //color--danger: ,
  //color--warning: ,
 // color--info:
);

// Fonts

$font-weight: (

);
